// BLOCK-ELEMENT--MODIFICATOR

// @import 'fonts/fonts';
// @import 'normalize/import';
// @import 'layout/import';
// @import 'adaptive/import';

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.frame {
  &-img {
    display: block;
    max-width: 200px;
    max-height: 700px;
  }
}
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin: 3px auto;
  padding: 20px;
}
.drop_area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
.file_elem {
  display: none;
}

// @include pixelPerfect(ipad, welcome, -195px);
// @include pixelPerfect(ipad, login, -194px);
// @include pixelPerfect(1200, welcome, -63px);
// @include pixelPerfect(1200, login, -67px);
// @include pixelPerfect(1200, works);
// @include pixelPerfect(preloader);
